In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, accuracy_score, precision_score
from xgboost import XGBRegressor

In [3]:
path = '/Users/raisaurabh04/OneDrive/GreyAtom/Practice Dataset/bank_deposit_training.csv'

In [4]:
df = pd.read_csv(path, )

df.head()

df.columns = df.columns.str.replace(' ', '_').str.lower()

df.head()

df.isna().sum()

df.fillna(np.nan, inplace=True)
df.isna().sum()

,Serial Number,Main Office,Branch Number,Established Date,Acquired Date,City,County,State,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,1,0,2866,02/06/1910,11/13/2004,Wales,Waukesha,WI,21386.0,23981.0,24825.0,26908.0,30681.0,30680.0,37564
1,2,0,2867,02/28/1910,11/13/2004,Germantown,Washington,WI,55454.0,56564.0,64732.0,73523.0,81357.0,89270.0,106177
2,3,0,2868,05/06/1907,11/13/2004,Brookfield,Waukesha,WI,90882.0,104300.0,125038.0,125906.0,132501.0,137363.0,145054
3,4,0,2869,06/20/1936,11/13/2004,Pewaukee,Waukesha,WI,45674.0,49288.0,53251.0,70402.0,74742.0,73837.0,85996
4,5,0,2870,04/22/1963,11/13/2004,Waukesha,Waukesha,WI,64181.0,72217.0,69920.0,80703.0,75971.0,73225.0,81706

,serial_number,main_office,branch_number,established_date,acquired_date,city,county,state,2010_deposits,2011_deposits,2012_deposits,2013_deposits,2014_deposits,2015_deposits,2016_deposits
0,1,0,2866,02/06/1910,11/13/2004,Wales,Waukesha,WI,21386.0,23981.0,24825.0,26908.0,30681.0,30680.0,37564
1,2,0,2867,02/28/1910,11/13/2004,Germantown,Washington,WI,55454.0,56564.0,64732.0,73523.0,81357.0,89270.0,106177
2,3,0,2868,05/06/1907,11/13/2004,Brookfield,Waukesha,WI,90882.0,104300.0,125038.0,125906.0,132501.0,137363.0,145054
3,4,0,2869,06/20/1936,11/13/2004,Pewaukee,Waukesha,WI,45674.0,49288.0,53251.0,70402.0,74742.0,73837.0,85996
4,5,0,2870,04/22/1963,11/13/2004,Waukesha,Waukesha,WI,64181.0,72217.0,69920.0,80703.0,75971.0,73225.0,81706

serial_number          0
main_office            0
branch_number          0
established_date       0
acquired_date       1493
city                   0
county                 0
state                  0
2010_deposits        740
2011_deposits        578
2012_deposits        329
2013_deposits        175
2014_deposits         56
2015_deposits         19
2016_deposits          0
dtype: int64

serial_number          0
main_office            0
branch_number          0
established_date       0
acquired_date       1493
city                   0
county                 0
state                  0
2010_deposits        740
2011_deposits        578
2012_deposits        329
2013_deposits        175
2014_deposits         56
2015_deposits         19
2016_deposits          0
dtype: int64

In [5]:
df.set_index(keys='serial_number',inplace=True,drop=True)

In [6]:
# convert timestamps to datetime to work with time data
df['acquired_date'] = pd.to_datetime(df['acquired_date'])

df['established_date'] = pd.to_datetime(df['established_date'], infer_datetime_format=True)

df.isna().sum()

# Independent variable and dependent variable
X = df.iloc[ : , : -1]
y = df.iloc[ : , -1]

# Train and test data
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=3)

main_office            0
branch_number          0
established_date       0
acquired_date       1493
city                   0
county                 0
state                  0
2010_deposits        740
2011_deposits        578
2012_deposits        329
2013_deposits        175
2014_deposits         56
2015_deposits         19
2016_deposits          0
dtype: int64

In [7]:
X_train.head()

,main_office,branch_number,established_date,acquired_date,city,county,state,2010_deposits,2011_deposits,2012_deposits,2013_deposits,2014_deposits,2015_deposits
serial_number,,,,,,,,,,,,,
2606,0,6509,2006-07-10,2008-09-25,Highland,San Bernardino,CA,19374.0,23293.0,26564.0,28966.0,33219.0,38892.0
2001,0,5415,2001-11-01,2008-09-25,Melbourne,Brevard,FL,33042.0,34507.0,39912.0,65500.0,74012.0,76850.0
2768,0,6774,2008-12-10,NaT,Plano,Collin,TX,8855.0,18624.0,24435.0,54422.0,63150.0,79338.0
1724,0,4969,1978-01-01,2008-09-25,San Clemente,Orange,CA,109197.0,132822.0,127834.0,132220.0,146477.0,159482.0
1120,0,4317,2007-11-27,NaT,Morris,Grundy,IL,14274.0,15475.0,18996.0,22121.0,26961.0,30652.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3790 entries, 1 to 3790
Data columns (total 14 columns):
main_office         3790 non-null int64
branch_number       3790 non-null int64
established_date    3790 non-null datetime64[ns]
acquired_date       2297 non-null datetime64[ns]
city                3790 non-null object
county              3790 non-null object
state               3790 non-null object
2010_deposits       3050 non-null float64
2011_deposits       3212 non-null float64
2012_deposits       3461 non-null float64
2013_deposits       3615 non-null float64
2014_deposits       3734 non-null float64
2015_deposits       3771 non-null float64
2016_deposits       3790 non-null int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(3)
memory usage: 444.1+ KB

In [9]:
def since_date(dataframe):
    time_col = dataframe.select_dtypes(exclude=[np.number, 'O']).columns
    for col_name in time_col:
        new_col_name = 'since_'+ col_name
        dataframe[new_col_name] = (pd.datetime.now() - dataframe[col_name])/np.timedelta64(1, 'Y')
        dataframe.drop(columns=col_name, inplace=True)


since_date(X_train)

since_date(X_val)

/Users/raisaurabh04/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/raisaurabh04/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
X_train.head()
X.iloc[2605 , : ]

,main_office,branch_number,city,county,state,2010_deposits,2011_deposits,2012_deposits,2013_deposits,2014_deposits,2015_deposits,since_established_date,since_acquired_date
serial_number,,,,,,,,,,,,,
2606,0,6509,Highland,San Bernardino,CA,19374.0,23293.0,26564.0,28966.0,33219.0,38892.0,13.335606,11.123377
2001,0,5415,Melbourne,Brevard,FL,33042.0,34507.0,39912.0,65500.0,74012.0,76850.0,18.022903,11.123377
2768,0,6774,Plano,Collin,TX,8855.0,18624.0,24435.0,54422.0,63150.0,79338.0,10.915297,NaN
1724,0,4969,San Clemente,Orange,CA,109197.0,132822.0,127834.0,132220.0,146477.0,159482.0,41.856384,11.123377
1120,0,4317,Morris,Grundy,IL,14274.0,15475.0,18996.0,22121.0,26961.0,30652.0,11.952963,NaN

main_office                           0
branch_number                      6509
established_date    2006-07-10 00:00:00
acquired_date       2008-09-25 00:00:00
city                           Highland
county                   San Bernardino
state                                CA
2010_deposits                     19374
2011_deposits                     23293
2012_deposits                     26564
2013_deposits                     28966
2014_deposits                     33219
2015_deposits                     38892
Name: 2606, dtype: object

In [11]:
X_train['since_established_date'][100]

34.84734165440221

In [12]:
X_train.head()

,main_office,branch_number,city,county,state,2010_deposits,2011_deposits,2012_deposits,2013_deposits,2014_deposits,2015_deposits,since_established_date,since_acquired_date
serial_number,,,,,,,,,,,,,
2606,0,6509,Highland,San Bernardino,CA,19374.0,23293.0,26564.0,28966.0,33219.0,38892.0,13.335606,11.123377
2001,0,5415,Melbourne,Brevard,FL,33042.0,34507.0,39912.0,65500.0,74012.0,76850.0,18.022903,11.123377
2768,0,6774,Plano,Collin,TX,8855.0,18624.0,24435.0,54422.0,63150.0,79338.0,10.915297,NaN
1724,0,4969,San Clemente,Orange,CA,109197.0,132822.0,127834.0,132220.0,146477.0,159482.0,41.856384,11.123377
1120,0,4317,Morris,Grundy,IL,14274.0,15475.0,18996.0,22121.0,26961.0,30652.0,11.952963,NaN

In [13]:
X_train.isna().sum()

main_office                  0
branch_number                0
city                         0
county                       0
state                        0
2010_deposits              546
2011_deposits              427
2012_deposits              237
2013_deposits              129
2014_deposits               40
2015_deposits               14
since_established_date       0
since_acquired_date       1088
dtype: int64

In [14]:
X_val.isna().sum()

main_office                 0
branch_number               0
city                        0
county                      0
state                       0
2010_deposits             194
2011_deposits             151
2012_deposits              92
2013_deposits              46
2014_deposits              16
2015_deposits               5
since_established_date      0
since_acquired_date       405
dtype: int64

In [15]:
# Missing values
X_train.fillna(0, inplace=True)
X_val.fillna(0, inplace=True)


# Label encoding
le = LabelEncoder()
cat = X_train.select_dtypes(include='O').columns.tolist()
def transform_categorical(dataframe) :
    for cols in cat:
        dataframe[cols] = le.fit_transform(dataframe[cols])

transform_categorical(X_train)
transform_categorical(X_val)

# One hot encoding
X_train_temp = pd.get_dummies(data=X_train, columns=cat)
X_val_temp = pd.get_dummies(data=X_val, columns=cat)

/Users/raisaurabh04/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)
/Users/raisaurabh04/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [16]:
# Shape of train and test data
X_train_temp.shape, X_val_temp.shape

X_train.shape, X_val.shape

((2842, 1552), (948, 800))

((2842, 13), (948, 13))

In [17]:
dt = DecisionTreeRegressor(random_state=5)

dt.fit(X_train, y_train)

accuracy = dt.score(X_val, y_val)

print(accuracy)

y_pred = dt.predict(X_val)

rmse = np.sqrt(mean_squared_error(y_val, y_pred))

print(rmse)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=5, splitter='best')

0.9333991141166543
68372.52930639003

In [18]:
xgb = XGBRegressor(max_depth=50, learning_rate=0.83, n_estimators=100)

xgb.fit(X_train, y_train)

accuracy = xgb.score(X_val, y_val)
accuracy
y_pred = xgb.predict(X_val)

rmse = np.sqrt(mean_squared_error(y_val, y_pred))
rmse

[17:31:29] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/Users/raisaurabh04/anaconda3/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.83, max_delta_step=0,
             max_depth=50, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

0.7611949016336941

129468.29847395772